<div class="list">
    <button onclick="window.location.href='/home'"><img src="images/home.png" width="30px" height="30px"><span class="listspan">Home</span></button>
    <button onclick="window.location.href='/search'"><img src="images/search.png" width="30px" height="30px"><span class="listspan">Search</span></button>
    <button onclick="window.location.href='/messages'"><img src="images/message.png" width="30px" height="30px"><span class="listspan">Messages</span></button>
    <button onclick="window.location.href='/profile'"><img src="images/profile.png" width="30px" height="30px"><span class="listspan">Profile</span></button>
    <button id="post">Post</button>
</div>