<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="stylesheets/stoof.css">
</head>
<body>
    {{> list}}
    <div class="dividers"></div>
    <div class="seconddivider"></div>
    <div class="messages">
        <p id="yourmessages">Your Messages</p>
        <p>Continue a conversation or start a new one!</p>
        <button id="newmessage">New Message</button>
    </div>
</body>
</html>