<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="stylesheets/stoof.css">
</head>
<body>
    {{> list}}
    <div class="dividers"></div>
    <div class="centersection">
        <div class="center">
            <button class="profilepicture"><img src="" width="180px" height="180px"></button>
            <div class="profileelements">
                <span id="username">Username</span>
                <span id="editprofile"><button id="editbutton">Edit Profile</button></span><br>
                <p id="handle">@handle</p>
                <p id="description">Profile Description</p>
                <a id="linktostuff" href="">Link to stuff</a>
                <div class="followingstuff">
                    <span>0 Following</span>
                    <span>0 Followers</span>
                </div>
            </div>
        </div>
    </div>
    <hr class="horizontalline">
</body>
</html>